.button {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0;
  padding: 1.25rem 2.5rem;
  color: var(--color-black);
  background: var(--color-green-translucent);
  border: none;
  border-radius: 50rem;
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-bold);
  transition: var(--transition);
  /* box-shadow: var(--box-shadow); */
}
.button:hover,
.button:focus {
  opacity: 0.8;
}
.button svg {
  width: 1.25rem;
  height: 1.25rem;
}
