.InputUrl {
  /* background: yellow; */
  width: 100%;
}
.InputUrl div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
  flex-direction: column;
}

.InputUrl a {
  display: flex;
  align-items: center;
  vertical-align: middle;
  padding: 0 2rem;
  height: 3.25rem;
  color: var(--color-white);
  background: var(--color-black);
  border-radius: 20rem;
  font-size: var(--font-size-5);
}

.InputUrl input {
  width: 100%;
  padding: 0 1.5rem;
  height: 3.25rem;
  border: 2px solid var(--color-white);
  background: var(--color-white);
  border-radius: 20rem;
  transition: var(--transition);
  font-size: var(--font-size-5);
}
.InputUrl input:focus,
.InputUrl input:hover {
  outline: none;
  border-color: var(--color-black);
}

.servicesContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 auto;
  text-align: left;
  max-width: var(--max-width-md);
}
.servicesContainer h3 {
  margin-bottom: 1.5rem;
}
.servicesContainer h2 {
  margin-bottom: 1rem;
  font-size: var(--font-size-3);
  width: 100%;
}

.radioContainer {
  position: relative;
  display: inline-flex;
  gap: 0rem;
  align-items: center;
  flex-wrap: wrap;
}

.radioButton {
  position: relative;
  appearance: none;
  border: 1px solid transparent;
  background: var(--color-gray);
  color: var(--color-black);
  padding: 0 1rem;
  height: 2rem;
  font-size: var(--font-size-4);
  border-radius: var(--border-radius-full);
  transition: var(--transition);
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.radioButton:hover {
  border-color: var(--color-black);
}

.radioButton.selected {
  color: var(--color-white);
  background: var(--color-black);
  border-color: transparent;
  padding-left: 2.5rem;
}

.radioButton.selected::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  height: 10px;
  width: 10px;
  background: var(--color-green-translucent);
  border-radius: 50%;
  display: block;
}

.containerDescription {
  display: grid;
  grid-template-columns: 3.5rem 1fr;
  gap: 1rem;
  align-items: center;
  margin-top: 3rem;
}
.containerDescription figure {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-white);
  border-radius: var(--border-radius-full);
  width: 3.25rem;
  height: 3.25rem;
}
.containerDescription figure svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: none;
  stroke-width: 0.5;
  stroke: currentcolor;
}
.containerDescription p {
  font-size: var(--font-size-4);
}

@media screen and (min-width: 900px) {
  .radioButton {
    height: 2.5rem;
  }
  .containerDescription {
    grid-template-columns: 4rem 1fr;
  }
  .containerDescription p {
    font-size: var(--font-size-5);
  }
}
