.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 3rem auto;
  padding: 1rem;
  width: 100%;
  max-width: var(--max-width-full);
}
.links a {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  gap: 1.5rem;
  width: 100%;
  /* max-width: 320px;
  min-height: 180px; */
  padding: 2rem;
  background: var(--color-gray);
  border-radius: var(--radius);
  transition: all 0.2s;
}
.links a:hover,
.links a:focus {
  transform: scale(1.025);
  background: var(--color-green-translucent) !important;
}
.links svg {
  width: 2.75rem;
  height: 2.75rem;
}
.links h3 {
  font-size: 1.5rem;
  /* text-align: left; */
  width: 100%;
}
.links h2 {
  position: relative;
  width: 100%;
  margin-bottom: 2rem;
}

@media screen and (min-width: 900px) {
  .links {
    gap: 1.5rem;
    padding: 1.5rem;
  }
  .links a {
    gap: 3.5rem;
    height: 25vw;
    width: 25vw;
  }
}
@media screen and (min-width: 1200px) {
  .links svg {
    width: 3.5rem;
    height: 3.5rem;
  }
  .links a {
    height: 20vw;
    width: 20vw;
  }
}
