.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 3rem 0 0;
  width: 100%;
}
.icons a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-width: 200px;
  align-items: center;
  width: 100%;
  min-height: 200px;
  padding: 2rem;
  background: var(--color-white);
  border-radius: var(--radius);
  transition: all 0.2s;
  box-shadow: var(--box-shadow);
}
.icons a:hover,
.icons a:focus {
  transform: scale(1.025);
  background: var(--color-green-translucent) !important;
}
.icons svg {
  margin-top: 1rem;
  width: 3rem;
  height: 3rem;
}
.icons h2 {
  font-size: 1.2rem;
  text-align: left;
  width: 100%;
}
