:root {
  font-size: 16px;
  --font-size-1: 4rem;
  --font-size-2: 2rem;
  --font-size-3: 1.5rem;
  --font-size-4: 1rem;
  --font-size-5: 0.6rem;
  --font-size-6: 1.2rem;
  --transition: all 0.2s;
  --border-radius: 12px;
  --border-radius-min: 0.75rem;
  --radius: 1.5rem;
  --border-radius-full: 20rem;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --color-white: #fff;
  --color-gray: #f4f4f4;
  --color-grey: #ddd;
  --color-black: #000;
  --color-green: #3cffd0;
  --color-green-translucent: #adffe8;
  --color-grey-translucent: rgba(0, 0, 0, 0.05);
  --background-white: #fff;
  --background-gray: #f4f4f4;

  --max-width: 1024px;
  --max-width-md: 768px;

  --box-shadow: 0 1.6px 3.6px 0 rgb(0 0 0 / 7%), 0 0.3px 0.9px 0 rgb(0 0 0 / 5%);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  text-align: center;
  background: var(--color-gray);
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
a,
button {
  font-family: var(--font-family);
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

h1 {
  font-size: var(--font-size-1);
  line-height: 1.2;
}
h2 {
  font-size: var(--font-size-2);
  line-height: 1.2;
}

section {
  width: 100%;
  padding: 4rem 2rem;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.home {
  margin-top: 3rem;
  text-wrap: balance;
  max-width: var(--max-width-md);
}
.home svg {
  max-width: 200px;
  height: auto;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
