.footer {
  position: relative;
  padding: 2rem 0;
  text-align: center;
  width: 100%;
}
.footer p {
  font-size: var(--font-size-4);
}

.footerContainer {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .footerContainer {
    gap: 2rem;
    flex-direction: row;
  }
}
